@tailwind base;
@tailwind components;
@tailwind utilities;

.custom_scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.custom_scroll::-webkit-scrollbar-track {
  background: #e7e9eb;
  border-radius: 200px;
}

.custom_scroll::-webkit-scrollbar-thumb {
  background: blue;
  opacity: 0.2;
  border-radius: 200px;
}
